{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shirt Sidebar</title>
    <link rel="stylesheet" href="shirt.css" />
  </head>
  <body>
    <div class="sidebar">
      <h2>Shirts</h2>
      <div class="container">
        <div class="boxes">
          <img
            src="/static/images/shirt1.jpg"
            alt="Shirt 1"
            width="400px"
            height="400px"
          />
        </div>
        <div class="boxes">
          <img
            src="/static/images/shirt2.jpg"
            alt="Shirt 2"
            width="400px"
            height="400px"
          />
        </div>
        <div class="boxes">
          <img
            src="/static/images/shirt3.jpg"
            alt="Shirt 3"
            width="400px"
            height="400px"
          />
        </div>
        <div class="boxes">
          <img
            src="/static/images/shirt4.jpg"
            alt="Shirt 4"
            width="400px"
            height="400px"
          />
        </div>
        <div class="boxes">
          <img
            src="/static/images/shirt5.jpg"
            alt="Shirt 5"
            width="400px"
            height="400px"
          />
        </div>
        <div class="boxes">
          <img
            src="/static/images/shirt6.jpg"
            alt="Shirt 6"
            width="400px"
            height="400px"
          />
        </div>
      </div>
    </div>
  </body>
</html>
